<%= render partial: 'groups/back_menu', locals: { title: "Details", back: entity_index_path(category_id: @category.id)}%>
<div>
  <div>
    <p>Transaction #</p>
    <p><%=@transaction.id%></p>
  </div>
  <div>
    <p><%=@transaction.name%></p>
    <p><%= number_to_currency @transaction.amount</p>
  </div>
  <p><%= time_tag(@transaction.created_at, "date-local": "time", "date-format": "%B %d, %Y %l:%M:%S %P"%></p>
</div>