<%# Main menu container %>
<div class="menu-container hidden" id="menu">
  <%# Lateral bar %>
  <div class="w-80 h-screen bg-white" id="menu-options>
    <!-- Header -->
    <div class="w-auto h-50 main-bg-color pl-5">
      <div class="w-20 h-20 bg-white">
        <% if current_user.image.attached? %>
         <%=image_tag(current_user.image)%>
          <%else%>
          <%= image_tag("user.png", :alt => "DELETE", :class => "icon") %> 
          <%end%>
      </div>
        <p class="pt-3 leading-none pl-2 text-lg"><%=current_user.name%></p>
        <p class="pb-2 pl-2 text-sm font-thin"><%=current_user.email%></p>
    </div>
    <!-- Menu options -->
    <div class="flex mi-5 mt-5 items-center">
    <%= image_tag("home.png", :alt => "DELETE", :class => "icon") %> 
      <%= link_to "Home", '/categories/index', class: 'ml-5 decoration-none text-color' %>
    </div>
    <div class="flex ml-5 mt-5 items-center">
      <%= image_tag("logout.png", :alt => "DELETE", :class => "icon") %> 
      <%=link_to "Log out", destroy_user_session_path, method: :get, class: "ml-5 decoration-none text-color" %>
    </div>
  </div>
</div>
